$color-grey: #7e7e7e;
$color-light-grey: #e6e6e6;
$color-translucent-grey: #7e7e7e69;
$color-dark-grey: #464545;
$color-red: #bf2957;
$color-white: #ffffff;
$color-blue: #50dae3;
$color-black: #000;
$color-translucent-black: #000000ab;
