$full-viewport-height: 100vh;

$header-hight-mobile: 4rem;
$header-hight-tablet: 5rem;
$header-hight-laptop: 6rem;

$button-border-radius: 0.1rem;

$transform-45deg: rotate(45deg);
$transform-neg-45deg: rotate(-45deg);

$footer-height: 3rem;
