@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

.form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  color: $color-dark-grey;
  &__title {
    letter-spacing: 0;
    h1 {
      font-size: 2rem;
    }
    p {
      margin-top: 1rem;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
  &__button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.5rem;
  }
}
@media (min-width: $screen-small) {
  .form {
    width: 100%;
    padding: 0 2rem;
    margin: auto;
    margin-top: 2rem;
    flex-direction: row;
    margin-bottom: 2rem;
    &__title {
      flex-grow: 1;
      margin: 0.5rem;
      flex-basis: 20%;
    }
    &__fields {
      flex-grow: 1;
    }
  }
}
@media (min-width: $screen-mid) {
  .form {
    width: $screen-mid;
    padding: 0 3rem;
  }
}
