@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

.select {
  &__container {
    position: fixed;
    width: 100%;
  }

  &__menu-item {
    &:hover {
      background-color: $color-white;
      color: $color-black;
      border-bottom: 1px solid $color-black;
    }
  }

  &__menu{
    margin: 0;
    padding: 0;
  }

  &__button {
    outline: none;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: $color-red;
    color: $color-white;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0;
    border-bottom: 1px solid $color-white;
    display: flex;
    justify-content: space-between;
    &--arrow-down {
      border: solid $color-white;
      border-width: 0 0.1rem 0.1rem 0;
      display: inline-block;
      padding: 0.3rem;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &:active {
      transform: none;
    }
  }
  @media (min-width: $screen-mid) {
    &__container {
      &--hide {
        display: none;
      }
    }
  }
}
