@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

$carousel-height-mobile: 15rem;
$carousel-height-tablet: 20rem;
$carousel-height-laptop: 25rem;
$nav-bottom-height: 3rem;
$left-right-button-padding: 0.5rem;
$indicator-width-height: 0.3rem;
$indicator-margin: 1rem;

.carousel {
  position: relative;
  height: $carousel-height-mobile;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 60px 55px -80px $color-grey;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__track__container {
    height: 100%;
    position: relative;
  }

  &__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in;
    &--active {
      opacity: 1;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: $nav-bottom-height;
  }

  &__indicator {
    border: 0;
    border-radius: 50%;
    width: $indicator_width_height;
    height: $indicator_width_height;
    background: $color-translucent-grey;
    margin: 0 $indicator-margin;
    padding: 0;

    &--current-slide {
      background: $color-translucent-black;
    }
  }

  &__button {
    display: none;
  }
}

@media (min-width: $screen-mid) {
  .carousel {
    height: $carousel-height-tablet;
    &__button {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $color-translucent-grey;
      color: $color-white;
      cursor: pointer;
      padding: $left-right-button-padding;
      &:active {
        transform: translateY(-50%);
      }

      &--right {
        right: 0;
      }
      &--left {
        left: 0;
      }
      &--hidden {
        visibility: hidden;
      }
    }
  }
}

@media (min-width: $screen-x-large) {
  .carousel {
    width: $screen-x-large;
    height: $carousel-height-laptop;
  }
}
