@import "../../../assets/styles/variables/breakpoints";
@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/spaces";

$side-panel-width-laptop: 256px;
$side-panel-width-tablet: 25%;
$side-panel-items-padding: 1rem;

.side-panel {
  &__links {
    display: none;
  }
  @media (min-width: $screen-mid) {
    &__links {
      display: block;
      min-height: calc(
        #{$full-viewport-height} - #{$header-hight-tablet} - #{$footer-height}
      );
      width: $side-panel-width-tablet;
      background-color: $color-light-grey;
      &--fixed {
        position: fixed;
        width: inherit;
      }
      &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      &__item {
        display: block;
        padding: $side-panel-items-padding;
        color: $color-dark-grey;
        border-bottom: solid 1px $color-translucent-grey;
        cursor: pointer;
      }
    }
  }
  @media (min-width: $screen-x-large) {
    &__links {
      min-height: calc(
        #{$full-viewport-height} - #{$header-hight-laptop} - #{$footer-height}
      );
      &--fixed {
        width: $side-panel-width-laptop;
      }
    }
  }
}
