@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";
@import "../../../assets/styles/variables/spaces";

$header-nav-font-size: 1rem;
$header-auth-font-size: 0.8rem;
$header-margin-1: 1rem;
$header-margin-2: 2rem;

.header {
  width: 100%;
  box-shadow: 0 0px 10px 0px $color-grey;
  padding: 0;
  position: fixed;
  background-color: $color-white;
  z-index: 2;
  align-items: center;
  &__sub__container {
    width: 100%;
    height: $header-hight-mobile;
    display: flex;
    justify-content: space-between;
  }
  &__nav__items {
    display: none;
  }
  &__auth__wrapper {
    display: none;
  }
  &--left-align {
    display: flex;
    justify-content: flex-start;
  }
  &--right-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo {
    align-self: center;
  }
}

@media (min-width: $screen-mid) {
  .header {
    &__sub__container {
      height: $header-hight-tablet;
    }
    &__nav__items {
      display: block;
      font-size: $header-nav-font-size;
      color: $color-dark-grey;
      font-weight: 500;
      align-self: flex-end;
      margin-bottom: $header-margin-1;
      &__link {
        margin-left: $header-margin-1;
        cursor: pointer;
      }
    }
    &__auth__wrapper {
      display: block;
      font-size: $header-auth-font-size;
      color: $color-dark-grey;
      font-weight: 500;
      margin-left: $header-margin-2;
      &__link {
        cursor: pointer;
      }
      &--space-right {
        margin-right: $header-margin-1;
      }
    }
  }
}
@media (min-width: $screen-x-large) {
  .header {
    &__nav__items {
      &__link {
        margin-left: $header-margin-2;
      }
    }
    &__sub__container {
      width: $screen-x-large;
      height: $header-hight-laptop;
      margin: auto;
    }
  }
}
