@import "../../../assets/styles/colors";

.header {
  width: 100%;
  box-shadow: 0 0px 10px 0px $color-grey;
  padding: 0;
  position: relative;
  align-items: center;
  &__sub__container {
    width: 100%;
    height: 8vh;
  }
}

@media (min-width: 769px) {
  .header {
    &__sub__container {
      width: 769px;
      height: 10vh;
      margin: auto;
    }
  }
}

@media (min-width: 600px) {
  .header {
    &__sub__container {
      height: 10vh;
    }
  }
}
