@import "../../../assets/styles/variables/colors";

.footer {
  display: flex;
  align-items: center;
  background-color: $color-light-grey;
  justify-content: center;
  height: 3rem;
  font-size: 0.8rem;
  color: $color-dark-grey;
  font-weight: 500;
  clear: both;
  position: relative;
  margin-top: -3rem;
}
