@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

$product-card-padding: 1rem;

$product-details-image-padding: 0.2rem;
$product-details-content-font-size-small: 0.7rem;

$product-details-content-font-size-mid: 1rem;
$product-details-content-font-size-large: 0.8rem;

$product-details-content-margin: 0.5rem;

$product-details-name-height: 3rem;
$product-details-desc-height-large: 5rem;

$product-button-padding: 1rem;
$product-button-padding-large: 0.5rem;
$product-button-margin-top: 2rem;
$product-button-margin-top-mid: 1rem;

$product-details-height-mobile: 14rem;
$product-details-height-tablet: 12rem;
$product-details-height-laptop: 15rem;

$product-min-height-tablet: 25rem;
$product-min-height-laptop: 31rem;
$product-min-height-xl-laptop: 27rem;

@mixin clamp($lines) {
  -webkit-line-clamp: $lines;
  -moz-line-clamp: $lines;
  -ms-line-clamp: $lines;
  line-clamp: $lines;
}

.product-card {
  width: 100%;
  padding: $product-card-padding;
  &__name {
    height: fit-content;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    @include clamp(3);
    overflow: hidden;
  }
  &__details {
    border-bottom: 1px dashed $color-grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: $product-details-height-mobile;
    &__image {
      order: 1;
      width: 50%;
      padding: $product-details-image-padding;
      height: 100%;
      object-fit: contain;
    }
    &__description {
      order: 2;
      width: 50%;
      border-radius: 0.1rem;
      word-break: break-word;
      background-color: $color-light-grey;
      height: 50%;
      &__content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        @include clamp(6);
        overflow: hidden;
        font-size: $product-details-content-font-size-small;
        margin: $product-details-content-margin;
      }
    }
    &__button {
      width: 50%;
      margin-top: $product-button-margin-top;
      padding: $product-button-padding;
    }
    &--desktop {
      order: 3;
      display: none;
    }
    &--mobile {
      order: 3;
      display: block;
    }
  }
  @media (min-width: $screen-mid) {
    width: 100%;
    height: 100%;
    min-height: $product-min-height-tablet;
    border-bottom: 1px dashed $color-grey;
    box-shadow: 4px 0px 10px 0px $color-light-grey;
    &__name {
      height: $product-details-name-height;
    }
    &__details {
      flex-direction: row;
      border-bottom: none;
      height: $product-details-height-tablet;
      &__description {
        height: 100%;
        &__content {
          font-size: $product-details-content-font-size-mid;
          @include clamp(8);
        }
      }
      &__button {
        width: 100%;
        margin-top: $product-button-margin-top-mid;
      }
    }
  }
  @media (min-width: $screen-large) {
    width: 100%;
    height: 100%;
    min-height: $product-min-height-laptop;
    border-bottom: 1px dashed $color-grey;
    &__name {
      @include clamp(2);
    }
    &__details {
      border-bottom: none;
      height: $product-details-height-laptop;
      &__description {
        width: 100%;
        height: $product-details-desc-height-large;
        &__content {
          font-size: $product-details-content-font-size-large;
          @include clamp(4);
        }
      }
      &__price {
        font-size: $product-details-content-font-size-large;
        font-weight: 500;
        flex-basis: 50%;
      }
      &__image {
        width: 100%;
        height: fit-content;
      }
      &__button {
        width: 100%;
        flex-basis: 50%;
        padding: $product-button-padding-large;
        margin-top: 0;
      }
      &--desktop {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
      }
      &--mobile {
        display: none;
      }
    }
  }
  @media (min-width: $screen-x-large) {
    min-height: $product-min-height-xl-laptop;
    height: 100%;
  }
}
