@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/spaces";

.button {
  border: none;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: $button-border-radius;
  background-color: $color-red;
  &:active {
    transform: translateY(0.5px);
  }
  &:disabled {
    background-color: $color-light-grey;
    cursor: not-allowed;
  }
}
