@import "../assets/styles/variables/breakpoints";

.layout {
  &__container {
    padding-top: 4rem;
    min-height: 100vh;
    @media (min-width: $screen-small) {
      padding-top: 5rem;
    }
    @media (min-width: $screen-large) {
      padding-top: 6rem;
    }
  }
}
