@import "../assets/styles/variables/breakpoints";

.layout {
  &__container {
    padding-top: 4rem;
    min-height: 100vh;
    &--overlay {
      overflow-y: hidden;
    }
    @media (min-width: $screen-mid) {
      padding-top: 5rem;
    }
    @media (min-width: $screen-x-large) {
      padding-top: 6rem;
    }
  }
}
