@import "../../../assets/styles/variables/breakpoints";
@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/spaces";


.drawer {
  &__content {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: calc(#{$full-viewport-height} - #{$header-hight-mobile});
  }
  &__overlay {
    background: $color-translucent-black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9;
  }
}
@media (min-width: $screen-mid) {
  .drawer {
    &__content {
      height: calc(#{$full-viewport-height} - #{$header-hight-tablet});
    }
  }
}

@media (min-width: $screen-x-large) {
  .drawer {
    &__content {
      height: calc(#{$full-viewport-height} - #{$header-hight-laptop});
    }
  }
}
