@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/breakpoints";

$cart-header-font-size: 0.8rem;
$cart-header-padding: 1rem;
$cart-cross-position-right: 1rem;

.cart {
  &__header {
    font-size: $cart-header-font-size;
    padding: $cart-header-padding;
    background-color: $color-white;
    font-weight: 400;
    position: relative;
    &__empty {
      background-color: $color-black;
      color: $color-white;
    }
    &__cross {
      font-weight: normal;
      visibility: hidden;
      position: absolute;
      right: $cart-cross-position-right;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
@media (min-width: $screen-large) {
  .cart {
    &__header {
      margin-top: 0;
      background-color: $color-black;
      color: $color-white;
      &__cross {
        visibility: visible;
      }
    }
  }
}
