@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/variables/spaces";

$category-link-padding: 1rem;

.category {
  &__description {
    flex: 3;
    text-align: center;
    &__name {
      margin: 0;
    }
    &__link {
      padding: $category-link-padding;
      display: block;
      width: fit-content;
      margin: auto;
      color: $color-white;
      text-align: center;
      text-decoration: none;
      border-radius: $button-border-radius;
      background-color: $color-red;
    }
  }
}
